@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  min-height: 100%;
}

.navbar {
  background: hsla(0, 100%, 56%, 1);
  background: linear-gradient(0deg, hsla(0, 100%, 56%, 1) 0%, hsla(301, 56%, 34%, 1) 76%);
  background: -moz-linear-gradient(0deg, hsla(0, 100%, 56%, 1) 0%, hsla(301, 56%, 34%, 1) 76%);
  background: -webkit-linear-gradient(0deg, hsla(0, 100%, 56%, 1) 0%, hsla(301, 56%, 34%, 1) 76%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF1F1F", endColorstr="#862685", GradientType=1 );

  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 48px;

  color: white;
  font-family: "Lexend", sans-serif;
  font-weight: 900;
}