@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  min-height: 100%;
}

.navbar {
  background: hsla(0, 100%, 56%, 1);
  background: linear-gradient(0deg, hsla(0, 100%, 56%, 1) 0%, hsla(301, 56%, 34%, 1) 76%);
  background: -moz-linear-gradient(0deg, hsla(0, 100%, 56%, 1) 0%, hsla(301, 56%, 34%, 1) 76%);
  background: -webkit-linear-gradient(0deg, hsla(0, 100%, 56%, 1) 0%, hsla(301, 56%, 34%, 1) 76%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF1F1F", endColorstr="#862685", GradientType=1 );

  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 48px;

  color: white;
  font-family: "Lexend", sans-serif;
  font-weight: 900;
}

.rarity {
  font-family: "Lexend", sans-serif;
  color: white;
}

.grid-wrapper {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;

  width: 100%;
  max-width: 600px;
  aspect-ratio: 1 / 1; 
}

.game-cell {
  background: #1e293b;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.15s ease;
}

.game-cell:hover {
  background: #334155;
  transform: scale(1.03);
}

.other-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}